*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7d2Ae8;
}

.container{
user-select: none;   
}

.head{
    text-align: center;
}

.container .time{
  padding: 20px;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0,0.99);
}

span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.mili{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: red;
}

.container .btn{
    text-align: center;
    margin-top: 20px;
}

.btn button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #7d2ae8;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0,0.99);
}